@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sua Hotelaria cada vez mais melhor de bom de todas as outras.</p>
<p>Professor @ViewData["Professor"]</p>


<address>
    <strong>Mais informações: </strong> <a href="www.youtube.com.br">YouTube</a>
</address>